asgiref==3.7.2
attrs==24.2.0
autobahn==23.1.2
Automat==22.10.0
cffi==1.15.1
channels==4.0.0
constantly==15.1.0
cryptography==43.0.1
daphne==4.0.0
Django==3.2.25
hyperlink==21.0.0
idna==3.10
importlib-metadata==6.7.0
incremental==22.10.0
pip==24.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pyOpenSSL==24.2.1
pytz==2024.2
service-identity==21.1.0
setuptools==40.8.0
six==1.16.0
sqlparse==0.4.4
Twisted==23.8.0
txaio==23.1.1
typing_extensions==4.7.1
zipp==3.15.0
zope.interface==6.4.post2
